html{
   height: 100%; 
}


body{
    background-color: rgb(1, 31, 68);
    color: antiquewhite;
    height: 100%;
    margin: 0 auto;
}

.Wrapper{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
}

.Wrapper-2{
    flex-direction: row;
    column-gap: 50px;
}

.Wrapper-3{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    position: relative;
    top: 25px;
    left: 0%;
}


tr{
    display: flex;
    width: 540px;
    justify-content: space-around;
}

td{
    display: flex;
    width: 90px;
}


.hidden{
    visibility: hidden;
}

.Input{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 75px;
}


    position: relative;
    top: 80%;
    left: 10%;

}
